@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300;1,400&display=swap");


*::after,
*::before {
  margin: 0;
  padding: 0;
}

html {
  font-family: "Poppins", sans-serif;
  font-size: 10px;
  color: #000;
}


#header{
  position: relative;
  width: 100%;
}

.menu{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 999;
}

.menu .logo-box h1 a{
  text-decoration: none;
  font-size: 35px;
  font-weight: 400;
  color: black;
  margin: 20px;
}

.menu .list-container{
  margin-right: 20px;
}

.menu .list-container .lists{
  display: flex;
  justify-content: space-around;
}

.menu .list-container .lists li{
  list-style: none;
}

.menu .list-container .lists li a{
  text-decoration: none;
  margin: 0 10px;
  padding: 8px;
  color:black;
  border-radius: 24px;
  font-size: 16px;
  transition: 0.3s;
}

.menu .list-container .lists li a.activo,
.menu .list-container .lists li a:hover{
   background: #3bcc75;
   color: #fff
}
.btn-menu > .fa-bars{
  display: none;
}

.img-header{
  position: relative;
  width: 100%;
  height: 100vh;
  background: url(/assets/img/header.jpg);
  background-attachment: fixed;
  background-size: cover;
}

.img-header .welcome{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.img-header .welcome h1{
  font-size: 50px;
  color: #fff;
  font-weight: 200;
}

.img-header .welcome hr{
  width: 400px;
  height: 2px;
  background: #fff;
  border: none;
  margin-top: 5px;
}


.servicios{
  width: 100%;
  margin-top: 120px;
}

.servicios .info-container{
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.servicios .info-container h1{
  font-size: 50px;
  font-weight: 400;
  color: var(--black);
  text-align: center;
  margin-bottom: 20px;
}

.servicios .info-container p{
  text-align: center;
  font-size: 17px;
  color: var(--black);
  line-height: 35px;
  margin: 10px 0px;
}

.servicios .info-container .servicios-gallery{
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 50px 0px;
}

.servicios .info-container .servicios-gallery img{
  width: calc(33.33% - 10px);
  height: 300px;
  object-fit: cover;
  margin: 10px 10px;
  border-radius: 10px;
  cursor: pointer;
}


footer{
    padding: 7.9rem 0;
    background-color: #121212;
    color: #fff;
    text-align: center;
    position: relative;
}
.footer-content{
    overflow: hidden;
}
.footer-content h4{
    font-size: 1.9rem;
    text-transform: uppercase;
    font-weight: 100;
    letter-spacing: 3px;
    margin-bottom: 3rem;
}

.social-icons{
    list-style: none;
    margin-bottom: 5.4rem;
    display: flex;
    justify-content: center;
}
.social-icons i{
    font-size: 2rem;
    color: #3bcc75;
    padding:  .8rem 2rem;
}
.social-icons i:hover,
.social-icons i:focus{
    color: #08d9d6;
}