@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300;1,400&display=swap");
/*Globales*/
*::after,
*::before {
  margin: 0;
  padding: 0;
}

html {
  font-family: "Poppins", sans-serif;
  font-size: 10px;
  color: #000;
}

section {
  padding: 3.9rem 0;
}

a {
  text-decoration: none;
}

p {
  font-size: 1.6rem;
}

.container {
  width: 100%;
  max-width: 122.5rem;
  margin: 0 auto;
  padding: 0 2.4rem;
}

header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), transparent);
}


.nav {
  height: 7.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-toggle {
  font-size: 2.2rem;
  position: absolute;
  top: 50%;
  right: 2.5rem;
  cursor: pointer;
  z-index: 2;
}

.fa-times {
  display: none;
}

.nav-list {
  list-style: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 80%;
  height: 100vh;
  padding: 4.4rem;
  display: flex;
  justify-content: space-around;
  z-index: 2;

}

.nav::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vh;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 2;
  opacity: 0;
  transform: scale(0);
  transition: opacity 0.5s;
}

.nav-item{
    border-bottom: 2px solid rgba(255, 255, 255, .3);
}

.nav-link{
    display: block;
    text-transform: uppercase;
    font-size: 1.6rem;
    letter-spacing: 2px;
    margin-right: -2px;
}

.nav-link:hover{
    color: #3bcc75;
}

.cita{
    font-size: 1.1rem;
    background-color: green;
    padding: 1.5rem 3rem;
    color: #fff;
    border-radius: .4rem;
}

.cita:hover,
.cita:focus{
    color: #fff;
    background-color: #3bcc75;
}
main{
    height: 500px;
}
/*footer*/
footer{
    padding: 7.9rem 0;
    background-color: #121212;
    color: #fff;
    text-align: center;
    position: relative;
}
.footer-content{
    overflow: hidden;
}
.footer-content h4{
    font-size: 1.9rem;
    text-transform: uppercase;
    font-weight: 100;
    letter-spacing: 3px;
    margin-bottom: 3rem;
}

.social-icons{
    list-style: none;
    margin-bottom: 5.4rem;
    display: flex;
    justify-content: center;
}
.social-icons i{
    font-size: 2rem;
    color: #3bcc75;
    padding:  .8rem 2rem;
}
.social-icons i:hover,
.social-icons i:focus{
    color: #ffc845;
}