@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300;1,400&display=swap");


*::after,
*::before {
  margin: 0;
  padding: 0;
}

html {
  font-family: "Poppins", sans-serif;
  font-size: 10px;
  color: #000;
}


#header{
  position: relative;
  width: 100%;
}

.menu{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 999;
}

.logo-box h1 a{
  text-decoration: none;
  font-size: 35px;
  font-weight: 400;
  color: black;
  margin: 20px;
}

.list-container{
  margin-right: 20px;
}

.lists{
  display: flex;
  justify-content: space-around;
}

.lists li{
  list-style: none;
}

.lists li a{
  text-decoration: none;
  margin: 0 10px;
  padding: 8px;
  color:black;
  border-radius: 24px;
  font-size: 16px;
  transition: 0.3s;
}

.lists li a.activo,
.lists li a:hover{
   background: #3bcc75;
   color: #fff
}
.btn-menu > .fa-bars{
  display: none;
}

.img-header{
  position: relative;
  width: 100%;
  height: 100vh;
  background: url(/assets/img/header.jpg);
  background-attachment: fixed;
  background-size: cover;
}

.welcome{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.welcome h1{
  font-size: 50px;
  color: #fff;
  font-weight: 200;
}

.welcome hr{
  width: 400px;
  height: 2px;
  background: #fff;
  border: none;
  margin-top: 5px;
}

/**Galeria**/
.blog{
  position: relative;
  width: 100%;
  height: 100%;
  background: url(../img/fondo1.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  margin-top: 100px;
}

.deg-background{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}
.ejeZproject{
  position: relative;
  width: 100%;
  height: 100%;
}
.container-project{
  width: 90%;
  margin: auto;
  padding-top: 100px;
}

.project-title{
  border: 2px solid #08d9d6;
  padding: 10px;
  text-align: center;
  width: 50%;
  margin: auto;
}

.project-title h2{
  font-size: 40px;
  color: #fff;
  font-weight: normal;
}
.project-title hr{
  background: #fff;
  width: 50%;
  margin: 10px auto;
}

.blog-gallery{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 80px;
  padding-bottom: 100px;
} 

.blog-gallery img{
  width: calc(30% - 10px);
  margin: 10px;
  object-fit: cover;
  border-radius: 10px;
  cursor: pointer;
}

/**servicios**/
.servicios{
  width: 100%;
  margin-top:120px;
}
.servicios-title{
  width: 50%;
  margin: auto;
  text-align: center;
}

.servicios-title h2{
  font-size: 50px;
  color: black;
  font-weight: normal;
  margin-bottom: 10px;
}

.servicios-title hr{
  width: 60%;
  margin: auto;
  height: 2px;
  background: black;
  border: none;
}

.box-servicios{
  width: 90%;
  margin: 80px auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card-servicios{
  width: 45%;
  margin: 30px;
}

.card-img{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-img img{
  height: 300px;
  object-fit: cover;
  margin: 10px 10px;
  border-radius: 10px;
  cursor: pointer;
}

.servicios-text{
  width: 100%;
  border: 2px solid #3bcc75;
  margin-top: 30px;
  padding: 20px;
  border-radius: 20px;
  cursor: pointer;
  transition: 200ms;
}
.servicios-text h4{
  color: black;
  font-weight: normal;
  font-size: 30px;
  text-align: 27px;
  margin-bottom: 20px;
  transition: 200ms;
}

.servicios-text p{
  font-size: 19px;
  color: black;
  text-align: justify;
  line-height: 35px;
  transition: 200ms;
}

.servicios-text:hover{
  border: 2px solid #08d9d6;
}

/**footer**/
.footer{
  width: 100%;
  height: 100%;
  background-color: #121212;
}

.footer-content{
  width: 50%;
  height: 40%;
  padding-top: 50px;
  margin: auto;
}

.footer-title{
  width: 60%;
  margin: auto;
  border: 2px solid #fff;
  padding: 15px;
}

.footer-title h2{
  text-align: center;
  color: #fff;
  font-size: 50px;
  font-weight: normal;
  margin-bottom: 10px;
}

.formulario-content{
  width: 60%;
  background: #fff;
  border-radius: 20px;
  border: 2px solid #3bcc75;
  margin: 50px auto;
  padding: 30px;
}

#formularioContacto{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#formularioContacto label{
  text-align: center;
  color: black;
  font-size: 22px;
  margin:30px  0px 10px 0px;
}

#formularioContacto input{
  width: 90%;
  height: 35px;
  margin: auto;
  border: 2px solid #3bcc75;
  border-radius: 24px;
  outline: none;
  text-align: center;
  font-size: 17px;
  color: black;
  padding: 20px;
}


#formularioContacto textarea{
  width: 90%;
  height: 100px;
  margin: auto;
  border: 2px solid #3bcc75;
  border-radius: 24px;
  outline: none;
  text-align: center;
  font-size: 17px;
  color: black;
  padding: 20px;
}

.send{
  width: 100%;
  display:flex;
  justify-content: center;
  margin: 30px 0px;
}

.send  button{
  width: 150px;
  height: 40px;
  background:#3bcc75;
  border-radius: 24px;
  border: none;
  outline: none;
  font-size: 22px;
  color: #fff;
  text-align: center;
  margin-top: 20px;
  cursor: pointer;
  transition: 0.5s;
}
.send  button:hover{
  background: #08d9d6;
}

.social-icons{
    list-style: none;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
}
.social-icons i{
    font-size: 30px;
    color: #3bcc75;
    padding:  20px;
}
.social-icons i:hover,
.social-icons i:focus{
    color: #08d9d6;
}
/**media query**/
@media only screen and (max-width:900px){
  .btn-menu > .fa-bars{
    display: block;
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 20px;
  }

  .list-container{
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    height: calc(100vh - 60px);
    background: #fff;
  }
.lists{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 5px solid #3bcc75;
  }

  .lists li{
    width: 90%;
    margin: 10px 0px;
    border-bottom: 1px solid #3bcc75;
    text-align: center;
  }

  .lists li a{
    font-size: 20px;
    margin-bottom: 10px;
  }
  .lists li a.activo,
  .lists li a:hover{
    background: none;
    color: #3bcc75;
  }
}
