@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300;1,400&display=swap");


*::after,
*::before {
  margin: 0;
  padding: 0;
}

html {
  font-family: "Poppins", sans-serif;
  font-size: 10px;
  color: #000;
}


#header{
  position: relative;
  width: 100%;
}

.menu{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 999;
}

.menu .logo-box h1 a{
  text-decoration: none;
  font-size: 35px;
  font-weight: 400;
  color: black;
  margin: 20px;
}

.menu .list-container{
  margin-right: 20px;
}

.menu .list-container .lists{
  display: flex;
  justify-content: space-around;
}

.menu .list-container .lists li{
  list-style: none;
}

.menu .list-container .lists li a{
  text-decoration: none;
  margin: 0 10px;
  padding: 8px;
  color:black;
  border-radius: 24px;
  font-size: 16px;
  transition: 0.3s;
}

.menu .list-container .lists li a.activo,
.menu .list-container .lists li a:hover{
   background: #3bcc75;
   color: #fff
}
.btn-menu > .fa-bars{
  display: none;
}

.img-header{
  position: relative;
  width: 100%;
  height: 100vh;
  background: url(/assets/img/header.jpg);
  background-attachment: fixed;
  background-size: cover;
}

.img-header .welcome{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.img-header .welcome h1{
  font-size: 50px;
  color: #fff;
  font-weight: 200;
}

.img-header .welcome hr{
  width: 400px;
  height: 2px;
  background: #fff;
  border: none;
  margin-top: 5px;
}


/**Nuestros proyectod**/
.blog{
  position: relative;
  width: 100%;
  height: 100%;
  background: url(../img/fondo1.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  margin-top: 100px;
}

.blog.deg-background{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
}
.blog .ejeZproject{
  position: relative;
  width: 100%;
  height: 100%;
}
.blog .container-project{
  width: 90%;
  margin: auto;
  padding-top: 100px;
}

.blog .container-project .project-title{
  border: 2px solid #fff;
  padding: 10px;
  text-align: center;
  width: 50%;
  margin: auto;
}

.blog .container-project .project-title h2{
  font-size: 40px;
  color: #fff;
  font-weight: normal;
}
.blog .container-project .project-title hr{
  background: #fff;
  width: 50%;
  margin: 10px auto;
}

.blog .container-project .blog-gallery{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 80px;
  padding-bottom: 100px;
} 

.blog .container-project .blog-gallery img{
  width: calc(30% - 10px);
  margin: 10px;
  object-fit: cover;
  border-radius: 10px;
  cursor: pointer;
}

/**servicios**/
.servicios{
  width: 100%;
  margin-top:120px;
}
.servicios .servicios-title{
  width: 50%;
  margin: auto;
  text-align: center;
}

.servicios .servicios-title h2{
  font-size: 50px;
  color: black;
  font-weight: normal;
  margin-bottom: 10px;
}

.servicios .servicios-title hr{
  width: 60%;
  margin: auto;
  height: 2px;
  background: black;
  border: none;
}

.servicios .box-servicios{
  width: 90%;
  margin: 80px auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}


.servicios .box-servicios .card-servicios{
  width: 45%;
  margin: 30px;
}

.servicios .box-servicios .card-servicios .card-img{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.servicios .box-servicios .card-servicios .card-img img{
  height: 300px;
  object-fit: cover;
  margin: 10px 10px;
  border-radius: 10px;
  cursor: pointer;
}

.servicios .box-servicios .card-servicios .servicios-text{
  width: 100%;
  border: 2px solid #3bcc75;
  margin-top: 30px;
  padding: 20px;
  border-radius: 20px;
  cursor: pointer;
  transition: 200ms;
}
.servicios .box-servicios .card-servicios .servicios-text h4{
  color: black;
  font-weight: normal;
  font-size: 30px;
  text-align: 27px;
  margin-bottom: 20px;
  transition: 200ms;
}

.servicios .box-servicios .card-servicios .servicios-text p{
  font-size: 19px;
  color: black;
  text-align: justify;
  line-height: 35px;
  transition: 200ms;
}

.servicios .box-servicios .card-servicios .servicios-text:hover{
  border: 2px solid #08d9d6;
}

footer{
    padding: 7.9rem 0;
    background-color: #121212;
    color: #fff;
    text-align: center;
    position: relative;
    width: 100%;
}
.footer-content{
    overflow: hidden;
}
.footer-content h4{
    font-size: 1.9rem;
    text-transform: uppercase;
    font-weight: 100;
    letter-spacing: 3px;
    margin-bottom: 3rem;
}

.social-icons{
    list-style: none;
    margin-bottom: 5.4rem;
    display: flex;
    justify-content: center;
}
.social-icons i{
    font-size: 2rem;
    color: #3bcc75;
    padding:  .8rem 2rem;
}
.social-icons i:hover,
.social-icons i:focus{
    color: #08d9d6;
}

